services:
  db:
    image: postgres:16
    healthcheck:
      test: ["CMD-EXEC", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

    ports: 
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data
  
volumes: 
  pgdata: 

